
/packages
*.suo
/scalejs.layout-cssgrid/build
/scalejs.layout-cssgrid/obj
/scalejs.layout-cssgrid/scalejs.layout-cssgrid.csproj.user
/.nuget/*.exe

/scalejs.layout-cssgrid/js

/layout-cssgrid-polyfill/js