/*GridLayoutStart*/
#simpleGrid {
    display: -ms-grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 1fr;
    width: 400px;
    height: 300px;

    #simpleGrid__left {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    #simpleGrid__right {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
}
/*GridLayoutEnd*/